.logo {
  $imagename: "citadellogo.png";
  background-image: image($imagename, $image-baseurl);
  width: rem(50px);
  height: rem(50px);
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}


.hero {
  width: 100%;
  height: rem(409px);
  $imagename: "thecitadelhub.png";
  background-image: image($imagename, $image-baseurl);
  position: relative
}


.navigation-bar-arrow {


  &-left {
    $imagename: "greenarrow.png";
    background-image: image($imagename, $image-baseurl);
    transform: rotate(
        -90deg
    );
    background-size: cover;
    width: 30px;
    background-repeat: no-repeat;
    cursor: pointer;

  }

  &-right {
    $imagename: "greenarrow.png";
    background-image: image($imagename, $image-baseurl);
    transform: rotate(
        90deg
    );
    background-size: contain;
    width: 30px;
    background-repeat: no-repeat;
    cursor: pointer;

  }
}


.scrollbox{
  height: 100px;
  overflow: auto;
  font-family: "typewriter";
  font-size: 1.025rem;
  text-align: center;
  a{
    color: black;
    &:hover{
      color: darkred;
    }
  }
}


