.data-profile{
  $imagename : 'bureau.jpg';
  background-image: image($imagename,$image-baseurl);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
