.card-list-collector{
  $imagename : "ricks-toilet.jpg";
  background-image: image($imagename,$image-baseurl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
